body{ 
	padding-top:10%;
    min-height: 100vh; /* Prend toute la hauteur de l'écran */
    background: radial-gradient(circle,rgba(92, 92, 92, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-attachment: fixed; /* Le dégradé reste fixe au scroll */
    text-align: center;
	}

h1, h2{
	text-transform: uppercase;
	color: white;
	font-family: "Sekuya", system-ui;
  	font-weight: 400;
  	font-style: normal;
}
h2, p {
	font-family: "Montserrat", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 300;
  	font-style: normal;
	color: white;
}
/* GRILLE */
.row {
	display: flex;
}
.col {
	flex: 1; /* chaque case prend la même largeur */
	padding: 0;
}
.cell {
	width: 100%;
	aspect-ratio: 1 / 1; /*carré*/
	border: 1px solid black;
	border-radius: 3px !important;
	display: block;
	transition: all 0.2s ease-in-out;
}

.cell:hover {
	transform: scale(1.1);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	transition: all 0.2s ease-in-out;
}

.container{
	border: 0px solid; 
	background-color: rgba(255, 255, 255, 0.1);
	margin-top: 50px;
	padding: 50px;
	width: 50% !important;
	border-radius: 5px !important;
}

/*BOUTONS*/
.button {
	margin-top: 30px;
	margin-bottom: 30px;
	
	color:white;
	border: 1px solid white !important;
	background-color: #0E0E0E;
	border-radius: 5px !important;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 15px;
	padding: 10px 30px;
}
#bloc{
	border: 0px solid; 
	background-color: rgba(255, 255, 255, 0.1);
	margin-top: 50px;
	padding: 40px;
	margin-left: 120px;
	margin-right: 120px;
	border-radius: 5px !important;
}
