body{
	background-color: green !important;
    text-align: center;
}
.row {
	display: flex;
}
.col {
	flex: 1; /* chaque case prend la même largeur */
	padding: 0;
}
.cell {
	width: 100%;
	aspect-ratio: 1 / 1; /*carré*/
	border: 1px solid black;
	display: block;
}
.container{
	padding:35px;
}